.marginTop{
  margin-Top:2rem;
}
.footer{
  text-align: left;
}
.footer .footerHead{
  //底部导航的头
  color:#1b6d85;
  font-weight: bold;
}

//.footer .list-group .list-group-item{
//  border:none;
//}

.border-Bottom{
  //给底部的导航加一个下边框
  border-bottom: 1px solid #E6E6E6;
}

.copyright{
  margin:30px 0;
  padding:0 30px;
}
.copyright .privacy li{
  float:left;
}
.copyright .privacy{
  overflow: hidden;
}