.marginTop {
  margin-Top: 2rem;
}
.footer {
  text-align: left;
}
.footer .footerHead {
  color: #1b6d85;
  font-weight: bold;
}
.ui-shopping-service {
  margin: 0 -15px;
  border-radius: 20px;
}
s .border-Bottom {
  border-top: 1px solid #E6E6E6;
  padding: 1rem auto !important;
}
.copyright {
  margin: 20px 0;
  padding: 0 20px;
}
.copyright .privacy li {
  float: left;
}
.copyright .privacy {
  overflow: hidden;
}
.sub-info {
  margin: 2rem auto;
}
