.logo {
  display: block;
  margin-left: -5px;
  width: 50px;
  height: 50px;
  background: url("../img/logo_d4aa5fa65d.png") no-repeat;
  -webkit-background-size: 50px auto;
  background-size: 50px;
  text-indent: -9999px;
  overflow: hidden;
}
#na .navbar-brand {
  font-size: 1.5rem !important;
}
.secondNav li > a {
  color: #aaa;
}
.secondNav ul {
  text-align: left;
}
.secondNav ul > li {
  margin-right: 3rem;
  background-color: #EDEDED;
}
