.logo {
  display: block;
  margin-left: -5px;
  width: 50px;
  height: 50px;
  background: url("../img/logo_d4aa5fa65d.png") no-repeat;
  -webkit-background-size: 50px auto;
  background-size: 50px;
  text-indent: -9999px;
  overflow: hidden;
}
#na .navbar-brand {
  font-size: 1.5rem !important;
}
.secondNav li > a {
  color: #aaa;
}
.marginTop {
  margin-Top: 2rem;
}
.footer {
  text-align: left;
}
.footer .footerHead {
  color: #1b6d85;
  font-weight: bold;
}
.border-Bottom {
  border-bottom: 1px solid #E6E6E6;
}
.copyright {
  margin: 30px 0;
  padding: 0 30px;
}
.copyright .privacy li {
  float: left;
}
.copyright .privacy {
  overflow: hidden;
}
ul,
p,
ol,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
/*头部导航的字体大小设计*/
#na .navbar-brand {
  font-size: 1rem ;
}
.dot1,
.dot2 {
  width: 12px;
  height: 12px;
  background: #aaa;
  display: inline-block;
  border-radius: 50%;
}
.main {
  text-align: center;
  text-align: -webkit-center;
}
.title {
  color: #424242;
  margin: 10px auto;
}
.priceHead {
  margin-bottom: 10px;
}
.depict {
  line-height: 1.2;
  font-size: 12px;
  color: #d0d0d0;
  margin: 8px auto 14px;
}
.price {
  color: red;
  font-size: 14px;
}
/*设置每个小模块的边框*/
.borMargin {
  border: 1px solid #cccccc;
  border-radius: 20px;
}
/*bgColor*/
.bgColor {
  background: #EDEDED;
}
/*没有右边距*/
.noMargin-Right {
  margin-right: 0 !important;
}
/*圆*/
.circleStyle {
  width: 23px;
  height: 23px;
  display: inline-block;
  border-radius: 50%;
  background: #aaa;
  text-align: center;
}
/*底部服务模块*/
.online,
.goods-Return,
.exchange-goods,
.ng-binding {
  width: 36px;
  height: 40px;
  display: inline-block;
  margin: 20px auto 5px;
  background: url("../img/shopping-info_1d658b7a09.png") no-repeat top left;
  opacity: .625;
}
.ui-shopping-service {
  margin: 0 -15px;
  border: 1px solid #aaa;
  border-radius: 20px;
}
span.goods-Return {
  background-position: -50px 0;
}
span.exchange-goods {
  background-position: -100px 0;
}
span.ng-binding {
  background-position: -150px 0;
}
/*媒体查询样式设计*/
/*pc终端*/
@media screen and (min-width: 992px) {
  .heStyle {
    height: 400px;
    padding: 1rem 0 .0rem;
  }
  .title {
    line-height: 1.2;
    font-size: 16px;
  }
  .picChange {
    margin: 23px 0 10px;
    text-align: center;
  }
  .dot1,
  .dot2 {
    width: 12px;
    height: 12px;
  }
  .price {
    font-size: 14px;
  }
  .ui-shopping-service {
    margin-top: 1rem;
    padding: 10px 0 20px;
  }
  .borMargin {
    margin: 0 0 1rem 0;
  }
  .secondNav {
    margin-top: 80px;
    width: 100%;
  }
  .secondNav > ul > li {
    margin-right: 3rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    line-height: 1.1;
    font-size: 14px;
  }
  .price {
    font-size: 10px;
  }
  .ui-shopping-service {
    margin-top: 1rem;
  }
  .borMargin {
    margin: 0 0 0.8rem 0;
  }
}
/*手机*/
@media screen and (max-width: 767px) {
  .imgStyle {
    margin-top: 30px;
  }
  .title,
  .depict,
  .picChange,
  .priceHead {
    text-align: left;
  }
  .title {
    line-height: 1;
    font-size: 12px;
  }
  .picChange {
    margin: 10px 0 10px;
  }
  .dot1,
  .dot2 {
    width: 10px;
    height: 10px;
  }
  .price {
    font-size: 6px;
  }
  .ui-shopping-service {
    margin-top: 0;
    display: none;
  }
  .borMargin {
    margin: 0 0 .5rem 0;
  }
}
.th .thuImg {
  vertical-align: middle;
}
.verDirection {
  margin-top: 7%;
}
.th > li {
  width: 54px;
  height: 54px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #adadad !important;
  border-radius: 5px;
  cursor: pointer;
}
.banner {
  margin-left: 10px;
  vertical-align: middle;
  text-align: left;
}
.sku-custom-title {
  overflow: hidden;
  padding: 8px 0 10px 10px;
  position: relative;
  border-bottom: 1px solid #CECECE;
}
.items-price {
  font-size: 2rem;
  color: red;
}
a[data-type="show"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #E5E5E5;
  padding: 3px;
  text-align: center;
  color: #757575;
  border-radius: 50%;
}
a[data-type="show"] > i {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: auto;
}
.sku-dynamic-params {
  overflow: hidden;
  padding: 8px 0 10px 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CECECE;
}
.down,
.up {
  position: relative;
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-indent: -9999em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px  #aaa;
}
.num {
  overflow: hidden;
  float: left;
  display: inline-block;
  width: 2rem;
  height: 18px;
  margin: 7px 0 0;
  border: none;
  border-radius: 3px;
  line-height: 18px;
  text-align: center;
  font-size: 16px;
}
.notice {
  color: #adadad;
}
.line {
  color: #adadad;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.secondNav .list-group .list-group-item,
.footer .list-group .list-group-item {
  border: none;
}
