.logo {
  display: block;
  background: url("../img/logo_d4aa5fa65d.png") no-repeat;
  -webkit-background-size: 50px auto;
  background-size: 50px;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
}
#na .navbar-brand {
  font-size: 1.5rem !important;
}
.secondNav li > a {
  color: #aaa;
}
#listMenu {
  background-color: #222;
  border-color: #080808;
}
.secondNav ul > li {
  background-color: #EDEDED;
}
/*没有右边距*/
.noMargin-Right {
  margin-right: 0 !important;
}
@media screen and (min-width: 992px) {
  .logo {
    margin-left: -5px;
  }
  .firstNavBar ul > li {
    margin-right: 35px;
  }
  .secondNav {
    margin-top: 65px;
    text-align: left;
  }
  .secondNav ul > li {
    margin-right: 3.4rem;
    font-size: 1.5rem;
  }
  .Margin-Left {
    margin-left: 190px !important;
    width: 130px;
    margin-right: 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-left: -10px;
  }
  .secondNav {
    margin-top: 60px;
  }
  .secondNav ul > li {
    margin-right: 1rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .secondNav ul > li {
    font-size: .8rem;
  }
  .secondNav {
    display: none;
  }
  .main {
    margin-top: 60px;
  }
  #listMenu li {
    text-align: left;
  }
}
.marginTop {
  margin-Top: 2rem;
}
.footer {
  text-align: left;
}
.footer .footerHead {
  color: #1b6d85;
  font-weight: bold;
}
.ui-shopping-service {
  margin: 0 -15px;
  border-radius: 20px;
}
.border-Bottom {
  border-top: 1px solid #E6E6E6 !important;
  padding: 1.5rem 0 0 0;
}
.copyright {
  margin: 20px 0;
  padding: 0 20px;
}
.copyright .privacy li {
  float: left;
}
.copyright .privacy {
  overflow: hidden;
}
.sub-info {
  margin: 2rem auto;
}
ul,
p,
ol,
li {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
/*头部导航的字体大小设计*/
#na .navbar-brand {
  font-size: 1rem ;
}
.dot1,
.dot2 {
  width: 12px;
  height: 12px;
  background: #aaa;
  display: inline-block;
  border-radius: 50%;
}
.main {
  text-align: center;
  text-align: -webkit-center;
}
.title {
  color: #424242;
  margin: 10px auto;
}
.priceHead {
  margin-bottom: 10px;
}
.depict {
  line-height: 1.2;
  font-size: 12px;
  color: #d0d0d0;
  margin: 8px auto 14px;
}
.price {
  color: red;
  font-size: 14px;
}
/*设置每个小模块的边框*/
/*bgColor*/
.bgColor {
  background: #EDEDED;
}
/*圆*/
.circleStyle {
  width: 23px;
  height: 23px;
  display: inline-block;
  border-radius: 50%;
  background: #aaa;
  text-align: center;
}
/*底部服务模块*/
.online,
.goods-Return,
.exchange-goods,
.binding {
  width: 36px;
  height: 40px;
  display: inline-block;
  margin: 20px auto 5px;
  background: url("../img/shopping-info_1d658b7a09.png") no-repeat top left;
  opacity: .625;
}
span.goods-Return {
  background-position: -50px 0;
}
span.exchange-goods {
  background-position: -100px 0;
}
span.binding {
  background-position: -150px 0;
}
/*媒体查询样式设计*/
/*pc终端*/
@media screen and (min-width: 992px) {
  .heStyle {
    height: 400px;
    padding: 1rem 0 .0rem;
  }
  .title {
    line-height: 1.2;
    font-size: 16px;
  }
  .picChange {
    margin: 23px 0 10px;
    text-align: center;
  }
  .dot1 {
    width: 12px;
    height: 12px;
    margin: auto 3px;
  }
  .price {
    font-size: 14px;
  }
  .ui-shopping-service {
    margin-top: 1rem;
    padding: 10px 0 20px;
  }
  .borMargin {
    margin: 0 0 1rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    line-height: 1.1;
    font-size: 14px;
  }
  .price {
    font-size: 10px;
  }
  .ui-shopping-service {
    margin-top: 1rem;
  }
  .borMargin {
    margin: 0 0 0.8rem 0;
  }
}
/*手机*/
@media screen and (max-width: 767px) {
  .heStyle {
    border: 1px solid #aaa;
  }
  .imgStyle {
    margin-top: 30px;
  }
  .title,
  .depict,
  .picChange,
  .priceHead {
    text-align: left;
  }
  .title {
    line-height: 1;
    font-size: 12px;
  }
  .picChange {
    margin: 10px 0 10px;
  }
  .dot1,
  .dot2 {
    width: 10px;
    height: 10px;
  }
  .price {
    font-size: 6px;
  }
  .ui-shopping-service {
    margin-top: 0;
    display: none;
  }
  .borMargin {
    margin: 0 0 .5rem 0;
  }
}
.th .thuImg {
  vertical-align: middle;
}
.th > li {
  width: 54px;
  height: 54px;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #adadad !important;
  border-radius: 5px;
  cursor: pointer;
}
.banner {
  vertical-align: middle;
  text-align: left;
}
a[data-type="show"] {
  display: inline-block;
  text-align: center;
  color: #757575;
  border-radius: 50%;
}
a[data-type="show"] > i {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: auto;
}
.down,
.up {
  position: relative;
  float: left;
  display: inline-block;
  text-indent: -9999em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px  #aaa;
}
.num {
  overflow: hidden;
  float: left;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 3px;
}
.notice {
  color: #adadad;
}
.no-border-bottom {
  border-bottom: none !important;
}
@media screen and (min-width: 992px) {
  .verDirection {
    margin-top: 7%;
  }
  .items-price {
    font-size: 2rem;
    color: red;
  }
  .banner {
    margin-left: 10px;
  }
  .sku-dynamic-params {
    overflow: hidden;
    padding: 8px 0 10px 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #CECECE;
  }
  .sku-custom-title {
    overflow: hidden;
    padding: 8px 0 10px 10px;
    position: relative;
    border-bottom: 1px solid #CECECE;
  }
  a[data-type="show"] {
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 2px solid #E5E5E5;
  }
  .num {
    width: 2rem;
    height: 18px;
    margin: 7px 0 0;
    line-height: 18px;
    font-size: 16px;
  }
  .up,
  .down {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .main .container:nth-child(2) {
    margin-top: 20px;
  }
  .wear-ear-pic {
    margin-top: 2rem;
  }
  .wear-ear-pic dl {
    display: inline-block;
    margin-right: 2rem;
  }
  .wear-ear-pic dl > dt {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
  }
  .bottom-gap {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 991px) {
  .banner {
    margin-left: 10px;
    padding-bottom: 1rem;
  }
  .verDirection {
    margin-top: 0;
    margin-bottom: 0;
  }
  h3 {
    font-size: 2rem;
  }
  span,
  p {
    font-size: 1.5rem;
  }
  .items-price {
    font-size: 1.5rem;
    color: red;
    margin-top: 5px;
  }
  .sku-custom-title {
    overflow: hidden;
    padding: 4px 0 5px 5px;
    position: relative;
    border-bottom: 1px solid #CECECE;
  }
  a[data-type="show"] {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 2px solid #E5E5E5;
  }
  .sku-dynamic-params {
    overflow: hidden;
    padding: 4px 0 5px 5px;
    margin-bottom: 3px;
    border-bottom: 1px solid #CECECE;
  }
  .up,
  .down {
    width: 20px;
    height: 20px;
    line-height: 30px;
  }
  .num {
    width: 1.5rem;
    height: 10px;
    margin: 4px 0 0;
    line-height: 9px;
    font-size: 15px;
  }
  .main .container:nth-child(2) {
    margin-top: 10px;
  }
  .wear-ear-pic dl > dt {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  .bottom-gap {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.sku-dynamic-params ul {
  overflow: hidden;
}
.sku-dynamic-params ul > li {
  float: left;
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .bell-top-padding {
    padding: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sku-dynamic-params ul > li {
    height: auto;
  }
}
.secondNav .list-group .list-group-item,
.footer .list-group .list-group-item {
  border: none;
}
body {
  background: #EDEDED !important;
  text-align: center;
}
.main {
  display: inline-block;
  width: auto;
  height: auto;
}
.sub-bottomBar .container,
.footer .container,
.main .container {
  background: #fff;
  border-radius: 10px;
}
