<div ng-include="'tpl/include/header.html'"></div>

<div class="main">
  <div class="container">
    <div class="row " >
      <div class="col-xs-12 col-sm-6 col-md-3 borMargin" ng-repeat="tmp in earList" ><!--1-->
        <div class="row heStyle">
          <div class="col-xs-3 col-sm-12">
            <a href="#/earDetail" data-eid="{{tmp.eid}}">
              <img ng-src="{{tmp.eCT[0].epic_L}}" alt="" class="img-responsive imgStyle"/>
            </a>
          </div>
          <div class="col-xs-9 col-sm-12">
            <h6 class="title" >{{tmp.ename}}</h6>
            <h3 class="depict">{{tmp.Info}}</h3>
            <ul class="picChange">
              <li class="dot1" data-color="{{dot.ec}}" data-src="{{dot.epic_L}}"  ng-repeat="dot in tmp.eCT"></li>

            </ul>
            <div class="priceHead">
              <span class="price">{{tmp.eprice}}</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<!--content-->


<!--引入页尾-->
<div ng-include="'tpl/include/sub_footer_bar.html'"></div>
<div ng-include="'tpl/include/footer.html'"></div>